@mixin sentence-case() {
    text-transform: lowercase;

    &:first-letter {
        text-transform: uppercase;
    }
}

$shadow-key-umbra-opacity: rgba(#848484, 0.1) !default;
$shadow-key-penumbra-opacity: rgba(#848484, 0.1) !default;
$shadow-key-ambient-opacity: rgba(#848484, 0.1) !default;
$btn-text-transform: sentence-case;
